
.header {
  background: #ffffff;
  display: block;
  position: relative;
  box-sizing: border-box;
  font-size: 18px;
  padding: 8px;
  height: 42px;
  border-radius: 2px 2px 0 0;
  border-bottom: 1px solid #E1E2E6;
}

.container {
  display: block;
  position: relative;
  box-sizing: border-box;
  height: calc(100% - 32px);
  border-radius: 0 0 2px 2px;
  background: #ececee;
  overflow: auto;
}
