// COLORS
$color-text: #2D3240;
$color-text-light: #ffffff;
$color-text-grey: #9699A0;
$color-text-bid: #00E1FF;
$color-text-offer: #FFE509;
$color-bid: #00E1FF;
$color-offer: #FFE509;
$color-text-darkgrey: #606060;

$color-border: rgba(#000000, 0.17);
$color-border-subtle: rgba(#000000, 0.08);
$color-border-light: rgba(#FFFFFF, 0.17);
$color-border-light-subtle: rgba(#FFFFFF, 0.08);

$color-border-on-light: #E1E2E6;
$color-border-on-dark: #34363d;

$color-bg-light: #475166;
// $color-bg-dark: #2D3240;
// $color-bg-dark: #121521;
$color-bg-dark: #172036;
$color-fg-light: #ffffff;
// $color-fg-dark: #eeeff1;
$color-fg-dark: #ececee;
$color-fg-darker: #E1E2E6;

$color-input-invalid: #FFD3D3;

$color-primary: #2B5FD9;
$color-secondary: #F2F4F7;
// $color-valid: #14CC70;
$color-valid: #0ac266;
$color-you: #00E097;
$color-warning: #ff9d00;
$color-updated: yellow;
$color-alert: #FF0928;

// NEW
$color-main: #293B66;
$color-bg: #41495a;
$color-fg: #FFFFFF;
$color-low: #D92B2B;
