.root {
  padding: 20px;
  min-width: 720px;
}

.url {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  opacity: 0.6;
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.feedContainer {
  height: 150px;
  overflow: auto;
  width: 90%;
  margin: auto;
  min-width: 300px;
  display: block;
  position: relative;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 2px 7px rgba(6, 6, 6, 0.2);
  margin-bottom: 20px;
}

.feedTitle {
  background-color: #2B5FD9;
  position: absolute;
  height: 31px;
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  line-height: 2;
  padding: 0 10px;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  text-transform: capitalize;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  text-align: center;
}

.feedContent {
  padding-left: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #2D3240;
  position: relative;
  top: 33px;
  width: 98%;
  display: inline-block;
  text-transform: capitalize;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  opacity: 0.8;
  display: block;
  line-height: 1.8;
  height: 114px;
  overflow: auto;
}
