@import "../StylesConstants/index.scss";

.popup {
  position: absolute;
  position: absolute;
  top: calc(100% /2);
  left: calc(100% /2 - 230px);
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.popup_inner {
  position: absolute;
  padding: 30px 20px 15px;
  background: #f5f5f5;
  height: auto;
  width: 320px;
  z-index: 99;
  border-radius: 2px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
}

.closeButton {
  z-index: 2;
  position: absolute;
  right: 12px;
  bottom: 16px;
  opacity: 0.8;
  user-select: none;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.submitButton {
  z-index: 2;
  position: relative;
  right: 40;
  bottom: 1px;
  opacity: 0.8;
  user-select: none;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.invalidButton {
  opacity: 0.3;
  pointer-events: none;
}

.valid {
  outline-color: $color-valid;
}

.invalid {
  background-color: rgba($color-alert, 0.1);
  border-color: rgba($color-alert, 0.5);
  outline-color: $color-alert;
}

.invalidForm {
  font-size: 12px;
  color: $color-alert;
  user-select: none;
}

.editContainer {
  display: inline-block;
  text-align: left;
  .section {
    display: inline-block;
    width: 100%;
    height: 30px;
  }
  span {
    font-size: 15px;
  }
  .input {
    width: 80%;
    float: right;
    border-radius: 3px;
  }
}
