
.booksHeader {
  height: 30px;
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  display: block;
  .newBookButton {
    font-size: 14px;
    border-radius: 6px;
    line-height: 0.6;
    background: rgba(160, 162, 169, 1);
  }
}

.libraryContainer {
  height: 100%;
  overflow-y: auto;
  display: block;
  padding: 5px 35px;
  text-align: center;
  margin: auto;
}

.bookContainer {
  height: 100px;
  max-width: 390px;
  min-width: 200px;
  display: inline-block;
  position: relative;
  text-align: left;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 2px 7px rgba(6, 6, 6, 0.2);
  margin-bottom: 10px;
  width: 50%;
  margin-right: 50px;
}

.bookTitle {
  background-color: #2B5FD9;
  position: absolute;
  height: 36px;
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  line-height: 2.2;
  padding: 0 10px;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  text-transform: capitalize;
}

.bookAuthor {
  padding-left: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #2D3240;
  position: relative;
  top: 50px;
  width: 65%;
  display: inline-block;
  text-transform: capitalize;
  .bookDate {
    opacity: 0.8;
    display: block;
    line-height: 2;
  }
}

.buttonContainer {
  float: right;
  position: relative;
  top: 60px;
  right: 5px;
}
