.root {
  background: red;
}

.valuationsHeader {
  height: 50px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 10px 0;
  display: block;

  span {
    font-weight: lighter;
  }
}

.valuationsNumberContainer {
  display: block;
  padding-left: 6px;
  font-weight: 500;
  font-size: 12px;
  text-align: left;
}

.interestsContainer {
  height: 100%;
  overflow-y: auto;
  display: block;
  padding: 7px;
}
